
@model ContosoUniversity.Models.ImageWebModel

@{
    ViewBag.Title = "Image Web";

   
}
	<h2>ImageWebView</h2>

	<h3>Image count: @Html.DisplayFor(modelItem => Model.ImageCount)</h3>
	<h4>ServiceStatus:  @Html.DisplayFor(modelItem => Model.ServiceStatus)</h4>
	<table class="table">
    
        <tr>
            <th>ID</th>
            <th>Last Name</th>
            <th>First Name</th>
        </tr>
		
        @foreach (var student in Model.StudentsList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => student.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.LastName)
            </td>
            <td>
				@Html.DisplayFor(modelItem =>student.FirstName)
			</td>
        </tr>
      }
    </table>



